<form method="POST" action="/new">

   <h3>Create a Message</h3>
   <label for="name">Name: </label>
   <input type="text" id="name" name="user">
   <label for="message">Message: </label>
   <input type="text" id="message" name="text">
   <button type="submit">submit</button>
</form>