<html>
    <body>
        <%- include('nav.ejs') %>
        <div>
            <% messages.forEach((message, index) => { %>
             <p>Date: <%= message.added %></p>
              <a href="/<%= message.id %>">
                <button>Open</button>
              </a>
            <% }); %>
        </div>
    </body>
</html>