<html>
    <body>
        <%- include('nav.ejs') %>
        <div>
            <% messages.forEach((message) => { %>
             <p>Date: <%= message.added %></p>
             <p>User: <%= message.user %></p>
             <p>Text: <%= message.text %></p>
            <% }); %>
        </div>
    </body>
</html>